@using TaskForce.Enum
@inherits ProgettiBase

@if (Fase is not null)
{
    <table class="dev-table">
        <thead>
            <tr>
                <th><Icon Element="@Icons.AddUser" Pointer="true" Color="@($"{Theme}-text")" ToolTip="Aggiungi un developer per questa lavorazione" CssClass="fs-5" OnClick="Start" /></th>
                <th>Developer</th>
                <th>Inizio</th>
                <th>Stato</th>
                <th>Fine</th>
                <th>Tempistiche</th>
            </tr>
        </thead>
        <tbody>
            @if (Fase.PreseInCarico is not null)
            {
                @foreach (var lavorazione in Fase.PreseInCarico)
                {
                    <tr>
                        <td>
                            <Icon Element="@Icons.Gear" Pointer="true" Color="@($"{Theme}-text")" CssClass="fs-5" ToolTip="Gestisci developer" OnClick="() => _devManagement.Start(lavorazione)" />
                        </td>
                        <td>@lavorazione.UserName</td>
                        <td>@lavorazione.DataInizio.ToShortDateString()</td>
                        <td><Badge StatoDiUtente="@lavorazione.Stato" /></td>
                        <td>@(lavorazione.DataFine?.ToShortDateString() ?? "")</td>
                        <td>@lavorazione.DeltaTempi</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

<PopUp IsForm="true"
       Model="@Form"
       Update="UpdateParent"
       OnSubmit="Submit"
       Title="Aggiungi un developer alla lavorazione"
       @ref="_popup">
    <div class="container-fluid">
        <div class="row row-cols-1">
            <div class="col">
                @if (Users is not null && Users.Any())
                {
                    <InputSelect id="users" class="form-select" @bind-Value="@Form.UserId">
                        <option selected disabled value>--Seleziona un developer--</option>
                        @foreach (var user in Users)
                        {
                            <option value="@user.Id">@user.Nome</option>
                        }
                    </InputSelect>
                }
                else
                {
                    <Badge Title="Nessun developer disponibile" StaticColor="danger" />
                }
            </div>
        </div>
    </div>
</PopUp>
<DevManagement @ref="_devManagement" Update="UpdateParent" />