@inherits ProgettiBase
@using TaskForce.Enum;

@foreach (var progetto in List)
{
    var isShow = progetto.Id == ProgettoVisualizzatoId;
    <div class="@($"progettocontainer {(isShow ? "d-flex" : "d-none")} {Theme}")">
        <CountDown @ref="_countDown" SezioneCreata="AfterNuovaSezione" Progetto="@progetto" />

        @if (progetto.MacroFasi is not null)
        {
            foreach (var macro in progetto.MacroFasi)
            {
                <div class="macrocontainer">
                    <h2>
                        <span>
                            <span>
                                @macro.Nome
                            </span>
                            <span>
                                <Icon Element="@Icons.AddFase" Pointer="true" Color="@($"{Theme}-primary")" ToolTip="Aggiungi una fase" OnClick="() => Start(progetto, macro.Id)" />
                            </span>
                        </span>
                        <Icon Element="@Icons.Edit" Pointer="true" CssClass="fs-6" ToolTip="Modifica sezione" />
                    </h2>
                    @if (macro.Fasi is not null)
                    {
                        <table class="macro-table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    @foreach (var header in Headers)
                                    {
                                        <th>@header.Name</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var fase in macro.Fasi)
                                {
                                    <tr>
                                        <td><Icon Element="@Icons.Edit" Pointer="true" ToolTip="Modifica Task" /></td>
                                        <td class="intestazione">@fase.Nome</td>
                                        <td>@fase.GiorniPrevisti</td>
                                        <td><Badge StatoDiFase="@fase.Stato" /></td>
                                        <td>

                                            <TabDevelopers Fase="@fase" Update="AfterNuovaFase"/>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            }
        }
    </div>
}

<Headers List="@List" ProgettoAttivo="@ProgettoVisualizzatoId" ProgettoAttivoChanged="SetId" Update="NuovoProgettoVisualizzatoImmediatamente" />



<PopUp IsForm="true"
       Model="@Form"
       Update="AfterNuovaFase"
       OnSubmit="Submit"
       Title="Crea una nuova lavorazione"
       @ref="_popup">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                <label for="nome" class="form-label">Nome</label>
                <InputText id="nome" class="form-control" @bind-Value="@Form.Nome" />
            </div>
            <div class="col-6">
                <label for="giorniprevisti" class="form-label">Giorni previsti</label>
                <InputNumber id="giorniprevisti" class="form-control" @bind-Value="@Form.GiorniPrevisti" />
            </div>
            <div class="col-6">
                <EnumSelector Label="Tipo di lavorazione" TEnum="Tipologia?" @bind-Value="Form.TipoFase" Id="tipo" ShowDefaultOption="true" />
            </div>
        </div>
    </div>
</PopUp>